/*!

 =========================================================
 * Paper Dashboard React - v1.0.0 based on Paper Dashboard 2 - v2.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-dashboard-2
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@import 'paper-dashboard/variables';
@import 'paper-dashboard/mixins';

// Plugins CSS
@import "paper-dashboard/plugins/plugin-animate-bootstrap-notify";
@import "paper-dashboard/plugins/plugin-perfect-scrollbar";

// Core CSS
@import "paper-dashboard/buttons";
@import "paper-dashboard/inputs";
@import "paper-dashboard/typography";
@import "paper-dashboard/misc";
@import "paper-dashboard/checkboxes-radio";


// components
@import "paper-dashboard/navbar";
@import "paper-dashboard/page-header";
@import "paper-dashboard/dropdown";
@import "paper-dashboard/alerts";
@import "paper-dashboard/images";
@import "paper-dashboard/nucleo-outline";
@import "paper-dashboard/tables";
@import "paper-dashboard/sidebar-and-main-panel";
@import "paper-dashboard/footers";
@import "paper-dashboard/fixed-plugin";

// cards
@import "paper-dashboard/cards";
@import "paper-dashboard/cards/card-plain";
@import "paper-dashboard/cards/card-chart";
@import "paper-dashboard/cards/card-user";
@import "paper-dashboard/cards/card-map";
@import "paper-dashboard/cards/card-stats";

@import "paper-dashboard/responsive";

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 300px !important;
}

.margen-row-login {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.img-product {
  height: 40% !important;
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  overflow: inherit;
}

#inner-circle {
  padding-top: 12px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  background: rgb(0, 113, 206)!important;
  color: white !important;
}

.logo-look-pay {
  max-width: 60% !important;
}

.sidebar .logo, .off-canvas-sidebar .logo {
  padding: 5px 5px 5px 35% !important;
}

.card-pay .image, .header-login, .logo-home-header, .logo-look-register {
  background:rgb(0, 113, 206) ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 25px 5px 5px 35% !important;
}

.logo-home-header {
  padding: 25px 5px 5px 42% !important;
}

.form-control {
  background-color: transparent !important;
}

.logo-look-pay-spark {
  max-width: 40% !important;
}

.header-login .image, .header-login-img{
  max-width: 40% !important;
}

.logo-home, .logo-look-register-img  {
  height: 100%;
}
.logo-look-register{
  background: rgb(0, 113, 206)!important;
}

#inner-circle:before {
  content: "PAY";
  font-weight: bold;
}

.logo-look-register-card {
  #inner-circle:before {
    content: "OK" !important;
    font-weight: bold;
  }
}

.avatar {
  width: 35px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0px;
  display: inline-flex;
}

.welcome {
  font-weight: bold;
  color: #343a40;
}